# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.matplotlib/
.cache/

# Virtual environments
.venv/
venv/
env/

# Data files
data/raw/*
data/external/*
data/interim/*
data/processed/*
reports/figures/*
reports/model_*
!data/raw/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# OS files
**/.DS_Store

# Environment variables
.env
.env.example

# VS Code
.history/
